body{
    margin: 500px, 1000px, 100px, 100px;
}

h1,h2,h3,h4,h5,h6 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: steelblue;
    font-family: 'Times New Roman', Times, serif;
}